* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: $dark;
}
::-webkit-scrollbar-thumb {
  background: $green;
}
::-webkit-scrollbar-thumb:hover {
  background: $gray;
}
body {
  font-family: "Inter", sans-serif;
  &.hidden {
    overflow: hidden;
  }
}
img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}
.page {
  min-height: 100vh;
  @include flex-column;
  background: linear-gradient(153.11deg, #36603e 35.82%, #1e262c 107.75%);
}
.wrapper {
  flex: 1 1 auto;
}
.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
  &:not(.small) {
    max-width: 1230px;
  }
  &.small {
    max-width: 1000px;
  }
}
.primary-button {
  @include buttonNulled;
  border-radius: 7px;
  border: 1px solid;
  @include fontRem(12, 500, 15);
  color: $white;
  position: relative;
  overflow: hidden;
  transition: .2s;
  &.with--icon{
    span{
      padding-right: 26px;
      position: relative;
      &::after{
        content: "";
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='17' height='17' viewBox='0 0 17 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.231033' y='0.719238' width='16' height='16' rx='8' fill='white' fill-opacity='0.6'/%3E%3Cpath d='M7.24153 6.74023L9.22053 8.71923L7.24153 10.6982' stroke='%23BC4749' stroke-width='0.989498' stroke-linecap='square'/%3E%3C/svg%3E");
        @include absoluteCenter(vertical);
        right: 0;
        width: 16px;
        height: 16px;
        background-size: cover;
        transition: .2s;
      }
    }
  }
  span{
    position: relative;
    z-index: 5;
  }
  &::after{
    content: " ";
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background-color: rgba($green,0.8);
    position: absolute;
  }
  &:hover{
    &::after{
      transition: 0.2s;
      width: 100%;
    }
    span{
      &::after{
        transition: .2s;
        right: -5px;
      }
    }
  }
  &.primary-button--red {
    background: $red;
    border-color: $lightRed;
    &:hover{
      border-color: $white;
    }
  }
  &.primary-button--green {
    background: $green;
    border-color: $gray;
    &::after{
      background-color: rgba($white,0.8);
    }
    &:hover{
      border-color: $dark;
      color: $dark;
    }
  }
}
