<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Favicon -->
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="./assets/favicon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="./assets/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="./assets/favicon/favicon-16x16.png"
    />
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;800&display=swap"
      rel="stylesheet"
    />
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <div class="page">
      <header class="app-header">
        <div class="container app-header--container">
          <div class="app-header__brand">
            <a href="#">
              <img
                src="<%= require('./assets/images/global/logo.svg') %>"
                alt="Logo"
                width="81"
                height="16"
              />
            </a>
          </div>
          <nav class="app-header__navigation">
            <ul class="app-header__menu">
              <li class="app-header__menu-item">
                <a href="#" class="app-header__menu-link">About Us</a>
              </li>
              <li class="app-header__menu-item">
                <a href="#" class="app-header__menu-link">Features</a>
              </li>
              <li class="app-header__menu-item">
                <a
                  href="#"
                  class="app-header__menu-link app-header__menu-link--active"
                  >Pricing</a
                >
              </li>
              <li class="app-header__menu-item">
                <a href="#" class="app-header__menu-link">Product</a>
              </li>
              <li class="app-header__menu-item">
                <a href="#" class="app-header__menu-link">Contact</a>
              </li>
            </ul>
          </nav>
          <div class="app-header__actions">
            <a href="#" class="app-header__login app-header__action">Login</a>
            <a
              href="#"
              class="primary-button primary-button--red app-header__action"
            >
              <span> Sign Up </span>
            </a>
          </div>
          <div class="hamburger">
            <div class="hamburger__item"></div>
          </div>
        </div>
      </header>

      <main class="wrapper">
        <section class="hero-section">
          <div class="hero-section__headline">
            <h1 class="hero-section__text">
              Instantly Connect with Your Leads
            </h1>
          </div>

          <div class="container small">
            <div class="hero-section__main-panel">
              <div class="tarifs-card tarifs-card--green"  data-aos="fade-right">
                <div class="tariffs-card__header">
                  <h3 class="tarifs-card__headline">Basic Survival</h3>
                  <div class="tariffs-card__rate">
                    <p class="tariffs-card__price-info">
                      <span class="tariffs-card__currency">$</span>
                      <span class="tariffs-card__amount">30</span>
                      <span class="tariffs-card__duration">/Month</span>
                    </p>
                  </div>
                  <div class="tariffs-card__message">
                    <p class="tariffs-card__text">
                      Get Torque’s basic plan to optimize your lead generation
                      process.
                    </p>
                  </div>
                </div>

                <div class="tariffs-card__footer">
                  <h3 class="tarifs-card__headline">Core Features</h3>
                  <div class="listing listing--basic">
                    <h4 class="listing__title">Basic</h4>

                    <ul class="listing__items">
                      <li class="listing__item">Email addresses</li>
                      <li class="listing__item">Phone numbers</li>
                      <li class="listing__item">Unlimited Lists</li>
                    </ul>
                  </div>
                </div>

                <div class="tariffs-card__select-overlay">
                  <button
                    class="primary-button primary-button--green tariffs-card__select"
                  >
                    <span> Start Free Trial </span>
                  </button>
                </div>
              </div>

              <div class="tarifs-card tarifs-card--dark">
                <div class="tariffs-card__header">
                  <h3 class="tarifs-card__headline">Mission Professional</h3>
                  <div class="tariffs-card__rate">
                    <p class="tariffs-card__price-info">
                      <span class="tariffs-card__currency">$</span>
                      <span class="tariffs-card__amount">276</span>
                      <span class="tariffs-card__duration">/Month</span>
                    </p>
                  </div>
                  <div class="tariffs-card__message">
                    <p class="tariffs-card__text">
                      Get Torque’s basic plan to optimise you lead generation
                      process.
                    </p>
                  </div>
                </div>

                <div class="tariffs-card__footer">
                  <h3 class="tarifs-card__headline">Core Features</h3>
                  <div class="listing listing--basic">
                    <h4 class="listing__title">Boost Tools</h4>

                    <ul class="listing__items">
                      <li class="listing__item">Email addresses</li>
                      <li class="listing__item">Phone numbers</li>
                      <li class="listing__item">Unlimited Lists</li>
                      <li class="listing__item">Export contacts</li>
                      <li class="listing__item">Prospecting</li>
                      <li class="listing__item">50MB Per File Attachment</li>
                    </ul>
                  </div>
                </div>
                <div class="tariffs-card__select-overlay">
                  <button
                    class="primary-button primary-button--red tariffs-card__select with--icon"
                  >
                    <span> Get Started </span>
                  </button>
                </div>
              </div>

              <div class="tarifs-card tarifs-card--green"  data-aos="fade-left">
                <div class="tariffs-card__header">
                  <h3 class="tarifs-card__headline">Rocketship Premium</h3>
                  <div class="tariffs-card__rate">
                    <p class="tariffs-card__price-info">
                      <span class="tariffs-card__currency">$</span>
                      <span class="tariffs-card__amount">420</span>
                      <span class="tariffs-card__duration">/Month</span>
                    </p>
                  </div>
                  <div class="tariffs-card__message">
                    <p class="tariffs-card__text">
                      Get Torque’s basic plan to optimize your lead generation
                      process.
                    </p>
                  </div>
                </div>
                <div class="tariffs-card__footer">
                  <h3 class="tarifs-card__headline">Core Features</h3>
                  <div class="listing listing--basic">
                    <h4 class="listing__title">Super Fuel</h4>

                    <ul class="listing__items">
                      <li class="listing__item">Email addresses</li>
                      <li class="listing__item">Phone numbers</li>
                      <li class="listing__item">Unlimited Lists</li>
                      <li class="listing__item">Export contacts</li>
                      <li class="listing__item">Prospecting</li>
                      <li class="listing__item">50MB Per File Attachment</li>
                      <li class="listing__item">Basic analytics</li>
                    </ul>
                  </div>
                </div>
                <div class="tariffs-card__select-overlay">
                  <button
                    class="primary-button primary-button--green tariffs-card__select"
                  >
                    <span> Start Free Trial </span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </section>
      </main>
      <footer class="app-footer"></footer>
    </div>
  </body>
</html>
